<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpine Dance Academy</title>
    <script src="https://kit.fontawesome.com/2cea3ad941.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public_static/index.css">
    <link rel="stylesheet" href="/public_static/resp.css">

  </head>
  <body>
    <header>
      <nav id="navbar" class="h-nav-resp navbar">
        <div id="logo"><img src="/public_static/img/Dance-logo.png" alt="not-found">ADA</div>
        <ul class="nav v-class-resp">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Class Info</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
      </nav>

    </header>
    <section id="introSection">
      <div>Welcome to Alpine Dance Academy</div>
      <div id="intro"><<-- Live Love Dance Repeat --></div>
    </section>
    <h2 class="h2">Our Mission </h2>
    <section id="missionSection">
      <div class="card">
        <h3>Dance Perfection</h3>
        <div class="card-box">
          <div class="card-img"><img src="/public_static/img/Dance1.png" alt="not-found"></div>
          <div class="card-content"> 
            <p>This is the best dance academy in the town.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <h3>Dance the way you Like</h3>
        <div class="card-box">
          <div class="card-img"><img src="/public_static/img/dance2.png" alt="not-found"></div>
          <div class="card-content"> 
            <p>This is the best dance academy in the town.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <h3>Dance Experties</h3>
        <div class="card-box">
          <div class="card-img"><img src="/public_static/img/dance3.png" alt="not-found"></div>
          <div class="card-content"> 
            <p>This is the best dance academy in the town.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="sponsorsSection">
      <div class="div" id="div2">
        <h2>Our Sponsors</h2>
        <div id="sponsors">
          <span class="spImage"><i class="fa-brands fa-apple fa-5x"></i></span>       
          <span class="spImage"><i class="fa-brands fa-windows fa-5x"></i></span>         
          <span class="spImage"><i class="fa-brands fa-google fa-5x"></i></span>        
          <span class="spImage"><i class="fa-brands fa-wordpress fa-5x"></i></span>
        </div>
      </div>
      <div class="div" id="div2"> 
        <h2>Follow Us</h2>
        <div id="sponsors">
          <a class="spImage" href="https:/www.facebook.com"><i class="fa-brands fa-facebook-square fa-5x"></i></a>
          <a class="spImage" href="https:/instagram.com"><i class="fa-brands fa-instagram-square fa-5x"></i></a>
          <a class="spImage" href="https://twitter.com"><i class="fa-brands fa-twitter-square fa-5x"></i></a>
          <a class="spImage" href="https://www.reddit.com"><i class="fa-brands fa-reddit-square fa-5x"></i></a>
        </div>
      </div>
    </section>
    <footer id="footer"> 
      <p>&copy; 2000-2022 Alpine Academy Pvt. Ltd, India. | All Rights Reserved.</p>
    </footer>

    <script src="/public_static/resp.js"></script>
    <script src="/public_static/index.js"></script>
  </body>
</html>